@import url('https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Roboto+Slab&display=swap');

* {
	margin: 0;
	padding: 0;
}



.banner-image{
    background-image: url("images/header-bg.jpeg")!important;
    height: 100vh;
    background-repeat: none;
    background-size: cover;
    margin-top: -8rem;
}


.logo{
    width: 200px;
    
}


/* navbar */
.navbar {
	padding: 30px 0;  
    
}

.navbar .nav-item a{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 15.5px;
    margin-left: 15px;
    color: #fff;
    text-transform: uppercase;
}
.navbar .nav-item a.active {
	color: #fec801;
	
}

/* Mid section*/
.mid-section{
    color: #fff;
    margin-top: 16.5rem;
   
}

.mid-section h1{
    font-family: 'Roboto-slab',sans-serif;
    font-weight: 400;
    font-size:36px ;
    font-style: italic;
}   
.mid-section p{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-style: bold;
    font-size: 72px;
    text-transform: uppercase;
    text-align: center;
   

}
.mid-section a{
    background-color: #fec801;
    width: 250px;
    height: 75px;
    text-decoration: none;
    color: #fff;
    padding: 25px 20px 10px 50px;
    text-transform: uppercase;
    border-radius: 5px;
    font-family: 'Montserrat',sans-serif;
    font-weight: 700;
    font-style: bold;
    font-size: 18px;
}
/* Services section */
.services{
    margin-top: 80px;
    padding-bottom: 7rem;
    
}

.services h1{
    font-family: 'Montserrat',sans-serif;
    font-weight: 700;
    font-style: bold;
    font-size: 40px;
    color: #212529;
    text-transform: uppercase;
}
.services p{
    text-align: center;
    font-family: 'Roboto',sans-serif;
    font-style: italic;
    font-weight: 400;
    font-size: 16px;
    color: #6c757d;
    margin-top: 1rem;
}
.services .col-lg-4{
    margin: auto;
}



.services  .round-yellow-bg{
    height: 8rem;
    width: 8rem;
    background-color: #fec801;
    border-radius: 50%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
   
    
   
}
.services .col h5{
    margin-top: 12px;
    font-family: 'Montserrat',sans-serif;
    font-weight: 700;
    font-style: bold;
    font-size: 24px;
    color: #212529;
}

.services .col .col-content p{
    font-family: 'Roboto',sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #6c757d;
    font-style: normal!important;
    line-height: 1.7rem;
    text-align: center;
    padding: 0 30px 0 30px;
}
.services .bi{
    color: #fff;
    
}
/*Portfolio section */
.portfolio{
    background-color:  #f8f9fa;
    padding-bottom: 8rem;
 
    
}
.portfolio .row{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: auto;
    padding-top: 2rem;
    
    /*padding: 0 4rem 0 4rem;*/
   
}


.portfolio .portfolio-item{
    background-color: #fff;
    position: relative; 
    width: 90%; 
    margin:auto; 
    
}

.portfolio  .portfolio-image-overlay{
    background: rgba(255, 200, 0, 0.9);
    position: absolute;
    height: 73.5%;
    width: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    

}
.portfolio-item:hover .portfolio-image-overlay{
    opacity: 1;
}

.portfolio-image{width: 100%}
.portfolio .portfolio-item  .portfolio-image-hover{
    position: absolute;
    text-align: center;
    width: 20%;
    top: 0%;
    left: 0%;
    opacity: 0;
    color: #fff;
    }

 .portfolio-item:hover .portfolio-image-hover{
    top: 25%;
    left: 40%;
    opacity: 1;
}

.portfolio .portfolio-item .portfolio-caption{
    text-align: center;
    padding: 1.7rem;
}

/* About Section begins */
.about-section .timeline{
    position: relative;
    list-style: none;
    margin-bottom: 12rem;
    padding: 0;
    padding-top: 20px;

}

/*.timeline {
    position: relative;
    padding: 0;
    list-style: none;
    padding-top: 20px;
  }*/
  .timeline:before {
    position: absolute;
    top: 10rem;
    bottom: 0;
    left: 72px;
    width: 2px;
    height: 68rem;
    margin-left: 35rem;
    content: "";
    background-color: #e9ecef;
  }
  .timeline > li {
    position: relative;
    min-height: 70px;
    margin-bottom: 80px;
  }
  .timeline > li:after, .timeline > li:before {
    display: table;
    content: " ";
  }
  .timeline > li:after {
    clear: both;
  }

  .timeline > li .timeline-content {
    position: relative;
    width: 40%;
    padding: 16px 20px 0 100px;
    text-align: right;
  }
  /*.timeline > li .timeline-content:before {
    right: auto;
    left: -15px;
    border-right-width: 15px;
    border-left-width: 0;
  }
  .timeline > li .timeline-content:after {
    right: auto;
    left: -14px;
    border-right-width: 14px;
    border-left-width: 0;
  }*/
  
  .timeline > li .timeline-image {
    position: absolute;
    width: 150px;
    height: 150px;
    margin-left: 35rem;
    border: 7px solid #e9ecef;
    border-radius: 50%;
    background-color: #fec801;   
  }

  .timeline > li.timeline-inverted > .timeline-content {
    float: right;
    padding: 0 20px 0 0px;
    text-align: left;
    width: 40%;
  }

  .timeline > li.timeline-inverted > .timeline-content .timeline-heading p{
    width: 80%;

  }
  .timeline > li .timeline-image h5 {
    margin-top: 30px;
    color: #fff;
  }

/* Team */
.team{
    background-color:  #f8f9fa;
    padding-bottom: 6rem;
    
    
}
.team .row{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: auto;
    padding-top: 2rem;
    text-align: center;
}
.team .team-image{
    width: 16rem;
    height: 16rem;
    border: 7px solid #e9ecef;
    border-radius: 100%;
}
.team .team-profile{
    width: 16rem;
    text-align: center;
    margin-top: 1rem;

}
.team .socials{
    width: 16rem;
    height: auto;
    text-align: center;
    margin-top: 20px; 
}
.team .socials a {
   
   background-color: black;
   border: 11px solid black;
   border-radius: 100%;
   color: #fff;
   text-align: center;
   margin-left: 15px;


}
.team .socials a .twitter{
    font-size: 17px;
    padding: 2px;
}
.team .socials a .facebook{
    font-size: 17px;
    padding: 4px;
}
.team .socials a .linkedin{
    font-size: 16px;
    padding: 3px;
}
.team .last-caption{
    width: 100%;
    text-align: center;
  
    margin: auto;
    margin-top:3rem;
    font-size: 16px;
}

#team-brand .microsoft{
    width: 50%;
   
}  
#team-brand .ibm{
    width: 25%;
   
} 



/* Contact Us */
.contact-us{
    background-image: url("images/map-image.png");
    background-color: #212529;
    height: 85vh;
    padding-top: 2rem;
   
}
.contact-us h1{
    font-family: 'Montserrat',sans-serif;
    font-weight: 700;
    font-style: bold;
    font-size: 40px;
    color: #fff;
    text-transform: uppercase;
    
}
.contact-us p{
    text-align: center;
    font-family: 'Roboto',sans-serif;
    font-style: italic;
    font-weight: 400;
    font-size: 16px;
    color: #6c757d;
    margin-top: 0.5rem;
}
.contact-us .form-section{
    margin: auto;
   
}
.contact-us .form-section .inputs-column {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    padding-top: 40px;
   
   
    
}
.contact-us .form-section .inputs-column .input-area input{
    width: 30rem;
    height: 70px;
    margin-right: 15px;  
    
}
.contact-us .form-section .inputs-column .input-area label,
.contact-us .form-section .inputs-column .message-box label{
    color: lightgray;
    padding: 22px 0 6px 10px;
    font-weight: bold;

}
.contact-us .form-section .inputs-column .message-box{
   margin: 0 0 0 15px; 
   
}
.contact-us .form-section .inputs-column .message-box textarea{
    height: 244px;
    width: 30rem;
}

.contact-us .form-section .btn{
    background-color: #fec801;
    width: 250px;
    height: 75px;
    margin-top: 25px;
    color: #fff;
    text-transform: uppercase;
    border-radius: 5px;
    font-family: 'Montserrat',sans-serif;
    font-weight: 700;
    font-style: bold;
    font-size: 18px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Footer starts*/
footer {
	background-color: #fff;
	padding: 2vh 0;
}



footer .col-4 p {
    
	font-size: 15px;
    font-family: 'Montserrat',sans-serif;
    font-weight: 400;
    font-style: bold;
    color: #212529;
    padding-top: 20px ;
   
}

footer .row .col-4 .socials{
   
    text-align: center;    
}
footer .row .col-4 .socials a {
   
   background-color: #212529;
   border: 11px solid #212529;
   border-radius: 100%;
   color: #fff;
   text-align: center;
   margin-left: 15px;


}
footer .row .col-4 .socialss a .twitter{
    font-size: 17px;
    padding: 3px;
}
footer .row .col-4 .socials a .facebook{
    font-size: 17px;
    padding: 4px;
}
footer .row .col-4 .socials a .linkedin{
    font-size: 16px;
    padding: 3px;
}
footer .row .col-4 .privacy{
    width:70%;
    margin: auto;
    text-align: right;   
}

footer .row .col-4 .privacy,
footer .row .col-4 .terms{
    text-align: right;
    font-size: 15px;
    font-family: 'Montserrat',sans-serif;
    font-weight: 400;
    font-style: bold;
    color: #212529;  
    
}

footer .row .col-4 .socials a :hover {
	opacity: 7;
	transition: all 0.4s ease;
}

/** media queries **/
@media(max-width:1399px ){
    .timeline > li .timeline-image {
        margin-left: 30rem;
    }
    .timeline:before {
        margin-left: 30rem;
        height: 75rem;
    } 
    .contact-us{
      height: 95vh;
       
    }
    footer .row .col-4 .privacy{
        width:60%;  
    }


}

@media(max-width:1199px ){
    .timeline > li .timeline-image {
        margin-left: 25rem;
    }
    .timeline:before {
        margin-left: 25rem;
        height: 80rem;
    } 
    .timeline > li .timeline-content {
        position: relative;
        width: 50%;
        padding: 16px 130px 0 20px;
        text-align: right;
      }
      .timeline > li.timeline-inverted > .timeline-content {
        
        text-align: left;
        width: 70%;
        padding-left: 20rem;
      }

}
@media(max-width:991px){
    .banner-image{
            height: 140vh!important;
    }
    .mid-section{
        margin-top: 14rem;    
    }
  
    .services .col h5{
        
        font-size: 22px;
       
    }
    
    .services .col .col-content p{
      font-size: 15px;
      padding: 0 30px 0 30px;
    }

    .timeline > li .timeline-image {
    
        width: 100px;
        height: 100px;
        margin-left: 20rem;
         
      }
    .timeline:before {
        margin-left: 18.5rem;
        height: 100rem;
        top: 5rem;
        
    } 
    .timeline > li .timeline-content {
        position: relative;
        width: 70%;
        padding-right: 13rem;
        text-align: right;
      }
      .timeline > li.timeline-inverted > .timeline-content {
        
        text-align: left;
        width: 70%;
        padding-left: 15rem;
      }
      .timeline > li .timeline-image h5 {
        margin-top: 24px;
        font-size: 12px;
      }
      .team p{
        margin-bottom: -3rem;
      }
      .team .row{ 
        flex-direction: column;
        margin: auto;
        
    }
    .team .team-image{
        width: 13rem;
        height: 13rem;
        margin-top: 3rem;
    }
    .team .team-profile{
        width: 13rem;
        text-align: center;
        margin-top: 1rem;
    
    }
    .team .socials{
        width: 13rem;

    }
    .team .last-caption{
        text-align: center!important;
        margin-top: 5rem;
        margin: 5rem 0 5rem 8rem;
        font-size: 16px;
        
    }
      
    
    .team-brand .microsoft{
        width: 14rem;
        padding-bottom: 2rem;
        margin-left: -80px!important;
      
        
    }
    .team-brand .google{
        width: 10rem;
        padding-bottom: 2rem;
       
    }
    .team-brand .facebook{
        width: 10rem;
        padding-bottom: 2rem;
       
    }
    .team-brand .ibm{
        width: 6rem;
        padding-bottom: 2rem;
        margin-right: -90px;
       
    }
    .contact-us{
        height: 100vh;
         
      }
    .contact-us .form-section .inputs-column .input-area input{
        width: 20rem;
        height: 70px;
        margin-right: 15px;  
        
    }
   
     .contact-us .form-section .inputs-column .message-box textarea{
         height: 244px;
         width: 20rem;
     }
     
      footer .row{
        flex-direction: column;
        justify-content: space-around;
        
      }
      footer .col-4 p{
        width: 15rem;
      }
      footer .row .abc{
        width: 40rem;
        padding-right: 8rem;
        padding-top: 0.75rem;
      
      }
      
      footer .row .col-4 .terms{
        
        width: 30%;
        margin-right: 4rem;
      }
        
    
        footer .row .col-4 .privacy{
            width: 30%;
            text-align: center;
            margin-left: 12rem;
        }
        
     
   
}

@media(max-width:767px){

    .banner-image{
        height: 90vh!important;
}
.mid-section{
    margin-top: 8rem;    
}
.mid-section h1{
    font-size:26px ;   
}   
.mid-section p{
     font-size: 65px;
     line-height: normal;

}
.mid-section a{
   
    width: 230px;
    height: 65px;
    font-size: 17px;
    padding-top:20px;
}
.about-section .timeline{
    margin-bottom: 8rem;
}

  .timeline:before {
    position: absolute;
    top: 1;
    left: -16rem;
    height: 60rem;
  }
 
  .timeline > li{
    margin-bottom: 50px;
  } 

  .timeline > li .timeline-content {
    position: relative;
    width: 100%;
    margin:auto;
    margin-left: 8px;
    padding: 16px 20px 0 100px;
    text-align: left;
  }
  
  .timeline > li .timeline-image {
    width: 85px;
    height: 85px;
    margin: auto;
    margin-top: 12px;
  
  }
 

  .timeline > li.timeline-inverted > .timeline-content {
    float: right;
    position: relative;
    width: 100%;
    padding: 16px 20px 0 100px;
    text-align: left;
  }

  .timeline > li.timeline-inverted > .timeline-content .timeline-heading p{
    width: 100%;

  }
  .timeline > li .timeline-image h5 {
    margin-top: 14px;
  }
 
  .team-brand{
    width: 100%;
    height: 18rem;
    background-color: #fff;
    margin: auto;  

}

 .team-brand .microsoft{
    width: 10rem;
    padding-bottom: 2rem;
    margin-left: -5rem;
    padding-left: 20px;
    margin-top: 1rem;
    align-items: center;
}
.team-brand .google{
    width:8rem;
    padding-bottom: 2rem;
    margin-top: 1rem;
}
.team-brand .facebook{
    width: 8rem;
    padding-bottom: 2rem;
    margin-left: -3rem;
}
.team-brand .ibm{
    width: 7rem;
    padding-bottom: 2rem;
   
}
.team .last-caption{
    text-align: center;
   /* margin-top: 5rem;
    margin-left: 20rem;
    margin-right: 20rem;*/
    margin: auto;
    margin-top: 5rem;
    font-size: 16px;
}
.contact-us{
    height: 125vh;
}
.contact-us .form-section .inputs-column {
    flex-direction: column;
   
}
.contact-us .form-section .inputs-column .input-area input{
    width: 30rem;
    height: 70px;
    margin-right: 15px;  
    
}

 .contact-us .form-section .inputs-column .message-box textarea{
     height: 200px;
     width: 30rem;
     margin-right: 22px;  
     
 }
 footer .row .col-4 .socials {
    text-align: center;
    width: 15rem;
}
footer .row .abc{
    width: 60rem;
    padding-right: 2rem;
    padding-top: 0.75rem;
  
  }
  
    footer .row .col-4 .privacy{
        margin-left: 10rem;
    }
    
}
@media (max-width:575px){
    .services .col{
        display: flex;
        flex-direction: column;
    }
   
    .services .col h5{
        
        text-align: center;
    }
    .services .col .col-content p{
    
        width: 35rem;
        
    }
    .team-brand{
       
        height: 30rem;
       
    }
    .team-brand .microsoft{
        width: 15rem;
        padding-bottom: 3rem;
        margin: auto;
        margin-top: 3rem;
        
    }
    .team-brand .google{
        width: 14rem;
        padding-bottom: 2rem;
        margin-top: 1rem;
        margin: auto;
    }
    .team-brand .facebook{
        width: 13rem;
        padding-bottom: 2rem;
        margin-left: -3rem;
        margin: auto;
    }
    .team-brand .ibm{
        width: 12rem;
        padding-top: 1rem;
        padding-bottom: 2rem;
        margin: auto;
       
       
    }
    footer .col-4 p {
    
        margin-left: -3rem;
       
    }
    footer .row .col-4 .socials {
        margin-left: -5rem;
        width: 18rem;
    }
    footer .row .abc{
        width: 50rem;
        padding-right: 4rem;
        padding-top: 0.75rem;
      
      }
      
        footer .row .col-4 .privacy{
            margin-left: 5rem;
        }
        footer .row .col-4 .terms{
        
            width: 30%;
            margin-right: 4rem;
          }
}
@media (max-width:571px){
    .services .col .col-content p{
    
        width: 25rem;
        
    }
  .contact-us{
    height: 110vh;
  }
   
    .contact-us .form-section .inputs-column .input-area input{
        width: 20rem;
        height: 60px;
        margin-right: 15px;  
        
    }
    
     .contact-us .form-section .inputs-column .message-box textarea{
         height: 150px;
         width: 20rem;
         margin-right: 23px;  
         
     }
}
